
.RedRegister {
    display: flex;
    justify-content: center;

    margin-top: 20px;
    button {
        width: 40%;
    
        background-color: var(--palette-primary-300);
    
        border: 4px solid black;
        border-radius: 90px;
    
        cursor: pointer;
    
        &:hover {
            background-color: var(--palette-primary-200);
        }
    
        h1 {
            font-size: 1rem;
            padding: 0.3rem 0;
        }
    }
}